# Ignore virtual environment folder
.venv/

# Python bytecode files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media files (uploaded by users)
media/

# Static files (if you collect static files here, ignore this or keep static/ if you serve static from source)
staticfiles/
static/

# Environment variables file
.env
.env.*

# VS Code settings
.vscode/

# PyCharm
.idea/

# macOS system files
.DS_Store

# Other files
*.bak
*.swp

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# pipenv
Pipfile.lock

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

